/* GENERAL */
*{
    margin : 0;
    padding: 0; 
    font-family: 'Varela Round', sans-serif;
  }
  
  h5{
    color: rgb(12, 6, 59); 
    font-size: 15px;
    text-align: center;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.2fr;
    background-color: #b0e4e8;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    font-size: 15px;
    height: auto;
    }
  p{
    line-height: 20px; 
    color: #777;
    text-align: center;
  }
  
  
  /* PRESENTATION */
  .who{
    float: left;
    text-align: center;
  }
  .nous{
    grid-column: 1;
    grid-row: 1;
    width : 150px; 
    height: 150px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    box-shadow: rgba(255, 255, 255, 0.8) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  
  }
  .us{
    grid-column: 1;
    grid-row: 2;
    margin-left: 2px;
  }
  
  /* COPYRIGHT */
  .copy{
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 3;
    justify-content: center;
  }
  
  /* BUTTON UP */
  .returnup{
    display: flex;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    align-items: flex-end;
  }
  .itemup{
     height: 30px;
   }
  
   /* MENTIONS */
  .lien{
    grid-column: 2 / span 3;
    grid-row: 1;
    text-align: center;
    color: rgb(12, 6, 59); 
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
   }
   .lienstyle{
    color: rgb(12, 6, 59); 
    font-size: 15px;
   }
  
   /* RESEAU */
  .reseaux{
    grid-column: 2 ;
    grid-row: 2;
    border-top: 2px solid #ddd;
    text-align: center;
    position: sticky top;
  }
  .icon{
    width: 25px;
    height: 25px;
  }
  
  @media screen and (min-width: 1024px) {
    .footer{
      grid-template-columns: 1fr 1fr 2fr;
      grid-template-rows: 1fr ;
    }
    .nous{
      grid-column: 1;
      grid-row: 1 / span 2;
    } 
    .us{
      grid-column: 2;
      grid-row: 1 / span 2;
      padding-top: 1em;
    }  
    .lien{
      display: flex;
      grid-column: 3;
      grid-row: 1;
      justify-content: center;
      align-items: center;
    }
    .reseaux{
  
      grid-column: 3;
      grid-row: 1;
      border-top: 0px solid #ddd;
    }
    .returnup{
      grid-column: 3;
      grid-row: 1;
      justify-content: flex-end;
    }
    .copy{
      grid-column: 3;
      grid-row: 1;
      align-items: flex-end;
    }
  
  
  
  
  
  
  
  
  
  
    /* ------- REMINDER ------- */
  /* min-width if screen >= {...} */
  /* min-width = mobile-first */
  
  /* max if screen <= 800px {...} */
  /* max-width = desktop-first */