
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  }

/* PRESENTATION */
.nous{
  grid-column: 1;
  grid-row: 1 / span 2;
  width : 150px; 
  height: 150px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  
  }
  
.who{
  float: left;
  text-align: center;
}

/* COPIRIGHT */

.copy{
  grid-column: 4 ;
  grid-row: 2;
}

/* BUTTON UP */
.returnup{
  grid-column: 4;
  grid-row: 1;
  text-align: center;
}
 .itemup{
   height: 30px;
 }

 /* LIEN */
 .lien{
   grid-column: 2 / span 3;
   grid-row: 1;
 }

 /* RESEAU */

.reseaux{
  grid-column: 2 /span 3;
  grid-row: 2;
  margin-top: 20px;
}



  /* ------- REMINDER ------- */
/* min-width if screen >= {...} */
/* min-width = mobile-first */

/* max if screen <= 800px {...} */
/* max-width = desktop-first */
  