/*Form*/
/*trick to see each body's box*/


.content{
  width: auto;
  display: flex;
	flex-direction: column;
 
  
}

.form{
  font-family: 'Varela Round', sans-serif;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  height: auto;
	align-items: center;
	align-content: stretch;
  width: 40em;
  padding: 2em;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: #bdbaba solid 1px;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  box-sizing: border-box;
  
}


input{
  margin-left: 10px;
  padding: 10px;
  font-size: 100%;
  border: 2px solid rgb(176, 174, 174);
  

}
.name{
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  

}

.email{
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
  padding: 10px;

}

.button {
  display: flex;
  justify-content: center;
  grid-column: 1/ span 2;
  grid-row: 4;
  padding: 5px;
  font: bold 0.6em sans-serif;
  border-radius: 5px;
  cursor: pointer;
  
  
}

button{
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background-color: #d1c4e9;
}

button:after {
  content: " >>>";
}

button:hover,
button:focus {
  outline: none;
  background: #000;
  color: #fff;
}


label{
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-right: 20px;
    text-align: center;
}


.messageBox{
  grid-column: 1;
  grid-row: 3;
  display: flex;
	flex-direction: column;
  

}


.messageBox textarea{
  display: flex;
  justify-content: center;
  line-height: 1.5;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
  background: transparent;
  border: 1px solid #ba68c8;
  height: 5em;
  resize: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  
  
  
}










/* ------- REMINDER ------- */
/* min-width if screen >= {...} */
/* min-width = mobile-first */

/* max if screen <= 800px {...} */
/* max-width = desktop-first */
