/* Nav Bar Menu */
nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #b0e4e8;
    color: white;
  }
  nav h1 {
    font-size: 2rem;
  }
  ul.menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    list-style: none;
    margin-right: 1rem;
  }
  ul.menu > li > a {
    display: inline-block;
    padding: 0.25rem;
    text-decoration: none;
    color: white;
  }


  
  
/* ------- REMINDER ------- */
/* min-width if screen >= {...} */
/* min-width = mobile-first */

/* max if screen <= 800px {...} */
/* max-width = desktop-first */
  