/* GENERAL */
*, ::before, ::after{
  box-sizing: border-box;
  margin : 0;
  padding: 0; 
}

body{
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

h4{
  font-size: 24px;
  color: #444;
}
p{
  line-height: 20px; 
  color: #777;
}
a{
  text-decoration : none;
  color: #444;
}

small{
  font-size:13px;
  font-style: italic;
}

/*MAIN IMAGE*/

#main-image{
  height: 400px; 
  background: url("../css/src/test2.jpg") center ;
  background-size: cover;
}
/* .wrapper{
  width: 100vw;
  margin: 0 auto;
  padding: 0 10px;
} */

#main-image h2{
  /* color: rgb(12, 6, 59);  */
  color:white;
  text-shadow:2px 2px 15px black;
  /* color:rgb(12, 6, 59);
  text-shadow:2px 2px 15px white; */
  font-size: clamp(25px, 5vw, 55px);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* POSSIBILITIES */

#possibilities{
  height: auto;
  overflow: hidden;
  background-color: #efefef;
  width: 100vw;
}

.gridelementindex{
  width: 460px;
  height: 270px;
  border-radius: 10px;
  background-size: cover;
}

.ville{
  background:rgba(255,255,255,0.95);
  height: 100%;
  width: 190px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  text-align: center;
  box-sizing: border-box;
}

.gridelementindex h4{
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.gridelementindex p{
  text-align: center;
  margin-bottom: 20px;
  height: auto;
}
.button-2{
  color: #fff;
  background-color: #ff7a00;
  padding: 6px 20px;
  border-radius: 3px;
}
.button-2:hover{
  color: #fff;
  background-color: #02b8dd;
}

.gridindex{
  background-color: #efefef;
  max-width: 1450px;
  width: 90%;
  height: auto;
  margin: 10px auto;
  display: grid;
  
  grid-template-columns: repeat(auto-fill, 460px);
  justify-content: center;
  overflow: hidden;
}

footer{
  background: aquamarine;
  height: 50px;
  width: 100vw;
}

.navbar_links {
  display: flex;
  overflow: hidden;
}



@media screen and (max-width: 460px){
  #possibilities article{
    width: 190px !important ;
    margin: 5px auto;
    overflow: hidden;
  }
}




  /* ------- REMINDER ------- */
  /* min-width if screen >= {...} */
  /* min-width = mobile-first */
  
  /* max if screen <= 800px {...} */
  /* max-width = desktop-first */